<div class="container-md">
    <div class="row align-items-center">
        <div class="col-lg-9 mb-4">
            <h2 class="fw-bold">This First Heading <span class="fw-normal text-muted">Will Catch Your Eye</span>
            </h2>
            <p class="first">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus alias suscipit vel quibusdam
                quis et consequuntur earum laudantium, sed accusamus, soluta adipisci possimus inventore voluptatum
                non, nostrum provident. Sint, ullam.
            </p>
        </div>
        <div class="col-lg-3 text-center mt-5">
            <img src="/website/assets/img/1.jpg" class="img-fluid rounded-circle " alt="Icon1">
        </div>
    </div>
</div>