<!-- your html code here -->
<div class="row m-2 p-5 d-flex justify-content-center align-items-center bg-white">

    <img class="img-fluid col-4 rounded-circle" src="../website/assets/img/2.jpg">

    <div class="col-8 pe-5">
        <div class="d-inline-flex">
            <h1 class="m-2">The second Heading </h1>
            <h1 class="m-2 text-secondary"> Is Pretty Cool Too.</h1>
        </div>

        <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable.
        </p>
    </div>
</div>